<h2>Add your own clever headline</h2>

<% labelled_tabular_form_for :quip, @quip, :url => { :action => "new" } do |f| %>
<%= error_messages_for 'quip' %>

<div class="box">
<p><label for="quip_text">Your quip:</label>
<%= text_field 'quip', 'text'  %>
</p>
</div>

<%= submit_tag l(:button_save) %>
<% end %>
