<% edit_allowed = User.current.allowed_to?(:edit_quips, nil, :global => true) %>

<% for quip in quips %>
<li>
<%= quip.text %>
<% if edit_allowed %>
<%= link_to(image_tag('edit.png'), { :action => 'edit', :id => quip })%>
<% end %>
<%= link_to(image_tag('delete.png'), { :action => 'destroy', :id => quip }, :method => "post", :confirm => "Are you sure?")%>
</li>
<% end %>
