<h2>Edit quip</h2>

<%= labelled_form_for :quip, @quip, :url => { :action => "edit", :id => @quip } do |f| %>
<%= error_messages_for 'quip' %>

<div class="box">
<p><%= text_field 'quip', 'text'  %></p>
</div>

<%= submit_tag l(:button_save) %>
<% end %>
